@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    gap: 0;
    box-sizing: border-box;
}

:root{
    --ligth-color: #e0e0e0;
    --dark-color: #1e1e1e;
    --title: 2.5rem;
    --title-1: 1.5rem;
    --font: 1.2rem;
    --font-1: 1rem;
    --font-2: 0.9rem;
    --font-3: 0.7rem;
    --color-font-2: #595959;
    --border: 8px;
    --transition: all 0.5s ease;
    --outline: 1px solid #595959ab;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: "Fira Code";
    background: #141414;
}

#logo h1 a{
    display: flex;
    text-decoration: none;
    width: 100%;
    color: #8f8f8f;
    font-size: var(--font-1);
    font-weight: 600;
    padding: 7px;
    box-shadow: 0px 0px 0px 1px var(--color-font-2);
}

#hero{
    display: flex;
}

#aside{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    box-shadow: 1px 0px 0px 0px var(--color-font-2);
}

#sec-profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    min-height: 75px;
    box-shadow: 0px 1px 0px 0px var(--color-font-2);
}

#sec-profile h1 a{
    font-size: var(--font-1);
    font-weight: 400;
    text-decoration: none;
    color: var(--ligth-color);
}

#sec-profile img{
    display: flex;
    border-radius: 50%;
    width: 50px;
}

nav{
    margin: 30px 25px 0px 25px;
}

nav ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}

nav ul li a img{
    display: flex;
    align-items: center;
    width: 15px;
    margin-right: 10px;
}

nav ul li a{
    display: flex;
    align-items: center;
    width: 200px;
    height: 35px;
    padding: 0px 10px;
    font-size: var(--font-1);
    color: var(--ligth-color);
    text-decoration: none;
    font-weight: 600;
    border-radius: var(--border);
    transition: var(--transition);
}

nav ul li a:hover{
    background: #3e3e3e;
}

.active{
    opacity: 0.7;
    color: var(--ligth-color);
    border: 1px solid var(--ligth-color);
}

#favorite {
    margin: 30px 25px 75px 25px;
    text-decoration: none;
    font-size: var(--font-1);
    width: 225px;
    overflow: auto;
}

#favorite::-webkit-scrollbar {
    width: 10px;
    background-color: #141414;
}

#favorite::-webkit-scrollbar-thumb {
    background-color: #222222;
    border-radius: 10px;
}

#favorite::-webkit-scrollbar-thumb:hover {
    background-color: #313131cf;
}

#favorite a{
    margin-bottom: 600px;
    font-size: var(--font-1);
    text-decoration: none;
    font-weight: 500;
    color: var(--ligth-color);
}
#ctn-card-aside{
    margin-top: 15px;
}

.card-aside{
    margin-top: 7px;
    padding: 4px;
    display: flex;
    align-items: center;
    width: 200px;
    color: #b9b9b9;
    border-radius: var(--border);
    cursor: pointer;
    transition: var(--transition);
}

.card-aside:hover{
    color: var(--ligth-color);
    background: #3e3e3e;
}

.card-aside img{
    display: flex;
    width: 30px;
    border-radius: 8px 0px 0px 8px;
}

.card-aside h1{
    margin-left: 7px;
    font-size: var(--font-2);
    font-weight: 500;
}


#ctn-content{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

#nav{
    display: flex;
    align-items: center;
    height: 80px;
    padding: 20px;
    justify-content: space-between;
    box-shadow: 0px 1px 0px 0px var(--color-font-2);
}

#nav li{
    display: flex;
    list-style: none;
}

#nav li a{
    font-size: var(--title-1);
    font-weight: 500;
    color: var(--ligth-color);
    text-decoration: none;
}

#search{
    display: flex;
    height: 35px;
}

#search input{
    padding: 10px;
    background: #1e1e1e;
    color: #8f8f8f;
    border: 1px solid #595959;
    border-radius: 10px 0px 0px 10px;
}

#search button{
    width: 30px;
    background: var(--dark-color);
    border: 1px solid #595959;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

#content{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
}

#content::-webkit-scrollbar {
    width: 10px;
    background-color: #000000;
}

#content::-webkit-scrollbar-thumb {
    background-color: #313131a3;
    border-radius: 10px;
}

#content::-webkit-scrollbar-thumb:hover {
    background-color: #313131cf;
}

#content-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 30px 60px 30px;
}

#ctn-banner{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: var(--outline);
    border-radius: var(--border);
    transition: var(--transition);
    box-shadow: 0px 0px 10px 3px #000000b3;
}

.carousel:hover{
    transform: scale(1.02);
}

.carousel-ctn {
    display: flex;
    width: 1100px;
    height: 200px;
    transition: var(--transition);
}

.carousel-slide {
    position: relative;
}

.banner{
    display: flex;
    color: var(--secundary-color);
}

.banner .img-banner img{
    display: flex;
    width: 1100px;
}

.carousel-dots {
    display: flex;
    margin-top: 20px;
    gap: 10px;
    justify-content: center;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #c3c3c3;
    background-color: #1e1e1e;
    cursor: pointer;
}

.dot.active {
    border: 1px solid #1e1e1e;
    background-color: #c3c3c3;
}

#home{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

#title{
    padding: 0px 60px;
    display: flex;
    width: 100%;
    gap: 40px;
}

#title h1{
    width: 90px;
    font-size: var(--title-1);
    font-weight: 600;
    color: var(--ligth-color);
}

#btns{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#title h2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 35px;
    padding: 10px;
    background: #1414147c;
    font-size: var(--font-1);
    color: #5c5c5c;
    font-weight: 600;
    border-radius: var(--border);
    border: 1px solid #2e2e2e;
    cursor: pointer;
    transition: var(--transition);
    box-shadow:  0px 0px 10px 3px #00000065;
}

#title h2:hover{
    color: var(--dark-color);
    transform: scale(1.02);
    background: #ffd000;
}

#ctn-home{
    display: flex;
    flex-direction: column;
}

#ctn-btn-home{
    display: flex;
    gap: 30px;
}

#ctn-btn-next{
    display: flex;
    gap: 20px;
}

#ctn-btn-next h2{
    width: 60px;
}

#ctn-btn-next h2:hover{
    transform: scale(1);
    background: #272727;
    color: var(--ligth-color);
}

#ctn-home #ctn-card{
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 55px 25px;
}


/* profile style  */

#profile-banner{
    display: flex;
    background: #364434;
    background-image: url(../assets/img/img-user/banner-2.gif);
    background-size:cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 10px 3px #000000b3;
    border: 1px solid #595959;
}

#profile{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 30px;
}

#user{
    margin-top: 100px;
    display: flex;
    align-items: end;
}

#user img{
    display: flex;
    width: 130px;
    border-radius: 50%;
    box-shadow:  0px 0px 10px 3px #00000065;
}

#user h1{
    text-decoration: underline;
    color: var(--ligth-color);
    font-size: var(--title);
    font-weight: 500;
    margin-left: 30px;
}

#ctn-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#ctn-btn-edit{
    display: flex;
    justify-content: end;
}

#btn-edit{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: var(--border);
    background: #65656565;
    backdrop-filter: blur(5px);
    font-size: var(--font-2);
    font-weight: 500;
    color: var(--ligth-color);
    cursor: pointer;
    transition: var(--transition);
    box-shadow:  0px 0px 10px 3px #00000065;
}

#btn-edit:hover{
    transform: scale(1.03);
    background: #7474747e;
}

#ctn-btn-conf{
    display: flex;
    gap: 20px;
}

#btn-share{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 40px;
    border: none;
    border-radius: var(--border);
    background: #000000a4;
    backdrop-filter: blur(5px);
    cursor: pointer;
    transition: var(--transition);
    box-shadow: 0px 0px 10px 3px #00000065;
}

#btn-share:hover{
    transform: scale(1.03);
    background: #212121;
}

#btn-share img{
    display: flex;
    width: 20px;
}

#btn-exit{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 40px;
    border: none;
    border-radius: var(--border);
    color: var(--ligth-color);
    font-size: var(--font);
    font-weight: 600;
    background: #ff0000a4;
    backdrop-filter: blur(4px);
    cursor: pointer;
    transition: var(--transition);
    box-shadow: 0px 0px 10px 3px #00000065;
}

#btn-exit:hover{
    transform: scale(1.03);
    background: #ca0000;
}

#my-library{
    display: flex;
    flex-direction: column;
    padding: 60px;
}

#my-library #title{
    padding: 0px;
}

#my-library #title h1{
    width: 100%;
}

#ctn-lib{
    display: flex;
}

#ctn-card{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 55px 25px;
}

.card{
    text-align: center;
    width: 200px;
    height: 246px;
    padding: 5px;
    border: var(--outline);
    border-radius: var(--border);
    transition: var(--transition);
    box-shadow:  0px 0px 10px 3px #00000065;
    background: #1e1e1eb2;
    backdrop-filter: blur(3px);
}

.card:hover{
    transform: scale(1.02);
}

.card img{
    display: flex;
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
}

.card h1{
    margin-top: 10px;
    font-size: var(--font-2);
    font-weight: 600;
    color: var(--ligth-color);
}

.card h2{
    font-size: var(--font-2);
    font-weight: 400;
    color: #bbbbbb;
}

#ctn-filter{
    margin: 0px 10px;
    margin-bottom: 130px;
    width: 300px;
    height: 500px;
    background: #1e1e1eb2;
    backdrop-filter: blur(3px);
    border: var(--outline);
    border-radius: var(--border);
    padding: 10px;
}

#ctn-filter h1{
    font-size: var(--font-1);
    font-weight: 500;
    color: var(--ligth-color);
}


/* catalogue */

#content-catalogue{
    margin-bottom: 140px;
    padding: 30px;
    display: flex;
    justify-content: center;
}

#ctn-card-catolgue{
    background: #1e1e1e65;
    backdrop-filter: blur(10px);
    border: var(--outline);
    border-radius: var(--border);
}

.card-catalogue{
    margin: 20px;
    display: flex;
    padding: 10px;
    background: #1e1e1e2e;
    backdrop-filter: blur(5px);
    border: var(--outline);
    border-radius: var(--border);
    box-shadow:  0px 0px 10px 3px #00000065;
}

.card-catalogue img{
    display: flex;
    width: 120px;
    height: 100%;
    border-radius: 5px;
}

.info-card-catalogue{
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
}

.info-card-catalogue h1{
    font-size: var(--title-1);
    font-weight: 500;
    color: var(--ligth-color);
}

.info-card-catalogue h2{
    font-size: var(--font-2);
    font-weight: 500;
    color: #b6b6b6;
}

.class{
    display: flex;
    width: 100%;
    gap: 10px;
}

.class h2{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-3);
    padding: 5px;
    height: 20px;
    background: #404040b5;
    border: var(--outline);
    border-radius: var(--border);
    cursor: pointer;
    transition: var(--transition);
}

.class h2:hover{
    transform: scale(1.03);
}

.btn-buy{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.btn-buy h2{
    font-size: var(--font-2);
    font-weight: 500;
    width: 60px;
    height: 30px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    background: #000;
    border-radius: 5px 0px 0px 5px;
}

.btn-buy button{
    font-size: var(--font-2);
    font-weight: 600;
    color: var(--ligth-color);
    background: #21511a;
    display: flex;
    width: 70px;
    height: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    border-radius: 0px 5px 5px 0px;
}

.btn-buy button:hover{
    background: #2f7125;
}

#filter-catalogue{
    margin-left: 30px;
    padding: 10px;
    width: 200px;
    height: 900px;
    background: #1e1e1eb9;
    border: var(--outline);
    border-radius: var(--border);
}

#filter-catalogue h1{
    font-size: var(--font-3);
    font-weight: 600;
    color: var(--ligth-color);
}



footer{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 30px;
    padding: 0px 20px;
    background: #141414;
    color: #808080;
    box-shadow: 0px 0px 0px 1px var(--color-font-2);
}

footer h1{
    font-size: var(--font-3);
    font-weight: 400;
}